<div class="centered-content">
    <div class="list-modal">
        <h1 class="title">
            Login
        </h1>

        <form>
            <div class="form-row mt-3">
                <div class="col">
                    <input #emailInput type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col">
                    <input #pwInput type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="form-row align-items-right mt-3">
                <div class="col-8">
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-block btn-primary mb-2" (click)="onLoginButtonClick(emailInput.value, pwInput.value)">Login</button>
                </div>
            </div>
        </form>

    </div>
</div>