/* You can add global styles to this file, and also import other style files */

@import './variables.scss'; // defining global styling
html {
    background: linear-gradient(to right top, $turqoise, $green);
}

html,
body {
    height: 100%;
    background: linear-gradient(to right top, $turqoise, $green);
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title {
    color: $green;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: $green;
    color: white;
    border-color: $green;
    &:hover {
        background-color: lightseagreen
    }
    &:click {
        background-color: lightseagreen
    }
    &:focus {
        background-color: lightseagreen
    }
}

.list-modal {
    width: 100%;
    max-width: 580px;
    height: 200px;
    background-color: white;
    padding: 35px;
    border-radius: 5px;
}