<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar">
            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="list-menu">
                <a class="list-menu-items" *ngFor="let list of lists" [routerLink]="['/tasks/', list._id]" routerLinkActive="is-active">
                    {{list.title}}
                </a>
            </div>

            <button class="btn btn-primary btn-block add-item-btn" routerLink="/new-list">
                + New item
            </button>
        </div>

        <div class="task-list-container">
            <h1 class="title has-text-primary">
                Items
            </h1>

            <div class="tasks">
                <div class="task-item" *ngFor="let item of items" (click)="toggleComplete(item)" [ngClass]="{ 'completed': item.complete }">
                    {{item.title}}
                </div>
            </div>

            <button class="btn btn-primary circle-btn" routerLink="new-task">
                <p>+</p>
            </button>

        </div>

    </div>
</div>