@import '../../../variables.scss';
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .title {
        color: $green;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .task-manager-container {
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        max-height: 680px;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        width: 250px;
        background-color: white;
        padding: 42px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        .list-menu {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            margin-top: 30px;
            .list-menu-items {
                padding: 10px 15px;
                color: #5f5f5f;
                text-decoration: none;
                border-radius: 5px;
                margin-bottom: 10px;
                &:hover {
                    background-color: $light;
                }
                &.is-active {
                    background-color: $green;
                    color: white
                }
            }
        }
        .add-item-btn {
            background-color: $green;
            color: white;
            border: none;
        }
    }
    .task-list-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: $light;
        padding: 42px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        position: relative;
        .tasks {
            margin-top: 30px;
            .task-item {
                padding: 10px 15px;
                background-color: white;
                margin-bottom: 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: transform 0.3s ease, box-shadow 0.2s ease;
                &:not(.completed) {
                    &:active {
                        transform: scale(0.90);
                    }
                    &:hover {
                        box-shadow: 0 0 0 5px #eeeeee
                    }
                }
                &.completed {
                    text-decoration: line-through;
                    opacity: 0.7;
                }
            }
        }
        .circle-btn {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            position: absolute;
            bottom: 35px;
            right: 35px;
            transition: transform 0.3s ease;
            box-shadow: none;
            p {
                line-height: 45px;
                font-size: 30px;
                margin-top: -8px;
                margin-left: -1px;
            }
            &:active {
                transform: scale(1.2);
                border: none;
                box-shadow: none;
                background-color: $green;
            }
            &:hover {
                box-shadow: none;
                border: none;
            }
        }
    }
}