<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar">
            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="list-menu">
                <a href="" class="list-menu-items is-active">
                    List #1
                </a>
                <a href="" class="list-menu-items">
                    List #1
                </a>
                <a href="" class="list-menu-items">
                    List #1
                </a>
                <a href="" class="list-menu-items">
                    List #1
                </a>
            </div>

            <button class="btn btn-primary btn-block add-item-btn">
                + New item
            </button>
        </div>

        <div class="task-list-container">
            <h1 class="title has-text-primary">
                Items
            </h1>

            <div class="tasks">
                <div class="task-item">
                    This task has to be done
                </div>
                <div class="task-item">
                    This task has to be done
                </div>
                <div class="task-item">
                    This task has to be done
                </div>
                <div class="task-item">
                    This task has to be done
                </div>
                <div class="task-item completed">
                    This task has to be done
                </div>
            </div>
        </div>

    </div>
</div>